
body {
    font-family: verdana, serif;
    font-size: 15px;
}

.button {
    background-color: #606060;
    border: none;
    color: white;
    padding: 10px 10px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

 .slider {
     -webkit-appearance: none;
     width: 80px;
     height: 6px;
     border-radius: 5px;
     background: #d3d3d3;
     outline: none;
     opacity: 0.7;
     -webkit-transition: .2s;
     transition: opacity .2s;
 }

 .simCanvas {
     border:2px solid;
     display: flex;
     min-height: 75vh;
     min-width: 75vw;
 }

 .controlPanel {
     display: flex;
     width: 20vw;
     height: auto;
     float: left;
 }

 .checkbox{

 }


