/*----- Wrappers to align main-page parts -----*/

.page-wrapper {    /*Wraps entire page in a flex-container */
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header-wrapper {   /*Wraps navbar and breadcrumb in a flex-container */
    flex: 0 0 10vh; /*Syntax: flex: flexgrow flexshrink  height*/
    background-color: greenyellow;
    border: solid 2px #606060;
    border-bottom: solid 1px #606060;;

    /* Test Section */
    position: sticky;
    top: 0;
    z-index: 100;

}

.main-wrapper {     /*Wraps main page content in a flex-container */
    display: flex;
    background-color: cornflowerblue;
    flex: 1 0 80vh; /* 80% of viewport height */
    border: solid 2px #606060;
    border-bottom: solid 1px #606060;
}

.footer-wrapper {       /*wraps footer in a flex-container to make it easier to make it stick to the bottom*/
    display: flex;
    background-color: gray;
    flex: 0 0 5vh;
    border: solid 2px #606060;
    margin-top: auto;



}



html, body {            /*Ensure html-page and body take up the whole viewport*/
    height: 100%;
    margin: 0;
    padding: 0;
}

/*----- Header-sectionUpper Navbar and Breadcrumb -----*/

.navbar .navbar-brand {
    margin-left: 0;
}

.breadcrumb .breadcrumb-item:first-child {
    padding-left: 0;
}


/*----- Main Section -----*/

/*----- Side navigation bar -----*/
.sidenav-wrapper {
    background-color: yellow;
    width: auto;
    min-width: 10vw;
    flex-shrink: 0;
    height: 100%;
    border: solid 2px #606060;
    overflow-x: auto;
}

.sidenav {
    width: fit-content;
    min-width: 10vw;
    height: 100%;
    padding-top: 1px;
    background-color: cadetblue;
}

.side-nav-link.active {
    background-color: darkgray;
    /* Add other styles for the active state */
}


/*----- Central content -----*/

.center-wrapper{
    flex: 1;    /* Allow the center wrapper to grow and take remaining space */
    background-color: yellow;
    border: solid 2px #606060;
}

/*----- Right hand buffer and utility -----*/
.right-hand-buffer{
    width: 10vw;
    background-color: purple;
    height: 100vh;
}

/*----- Footer -----*/

.footer-left{
    display: flex;
    align-items: center;

}

.footer-left .scroll-to-top-btn{

}

.footer-right{
    text-align: right;

}

.footer-right span {
    display: inline;
    margin-right: 2%;
    vertical-align: middle;
}

/*----- Button Styling -----*/



/*-----Glossary and navbar accordions -----*/
.accordion {
    width: 80vw;
}

.sub-heading {
    width: 90rem;
    padding-left: 0px;
}

/* Adjust the width of sub-accordion elements with IDs starting with "sub-accordion-" */
[id^="sub-accordion-"] {
    width: 100%;
    max-width: 100%;
}

/* Custom styles for active list-items */
.list-group-item[id^="side-nav-"].active {

    background-color: darkgray;
    color: black;
    /* Add more custom styles as needed */
}


/*Content tiles */
.card-wrapper {
    display: flex;
    justify-content: space-evenly;
    min-width: 80vw;
}


.tile {
    width: 30vw;
    height: 30vw;
    transition: transform 0.3s ease-in-out;
    display: block;
    justify-content: center;
}

.tile:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.tile .card-img-top {
    transition: opacity 0.3s ease-in-out;
}

.tile:hover .card-img-top {
    opacity: 0;
}


/*Button Styles */

.scroll-to-top-btn {
    height: 100%;
    padding: 0;
    margin-left: 2%;
    display: none;
}



/*----- Testing Stuff -----*/

.sticky {
    position: fixed;
    top: 0;
    width: 100% ;
}



